@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 210 40% 98%;
  --foreground: 222 47% 11%;

  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;

  --primary: 235 85% 65%;          /* softer indigo */
  --primary-foreground: 0 0% 100%;

  --secondary: 220 14% 96%;
  --secondary-foreground: 222 47% 11%;

  --muted: 220 14% 96%;
  --muted-foreground: 215 16% 47%;

  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 235 85% 65%;
}

}
